<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Guia do Eldenringuers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-img
  src="https://store-images.s-microsoft.com/image/apps.12238.14030026768729784.90503c79-9262-467d-a1b4-f13dfac00850.09f69519-da81-454b-85df-d4aadb8fbe6b?q=90&w=480&h=270"
 
></ion-img>

  <ion-list>
    <ion-list-header>
      <ion-label>Top 5 melhores magias</ion-label>
      

    </ion-list-header>
    <ion-item>
      <ion-label>Comet Azur</ion-label>
      

      <ion-img
      src="https://eldenring.wiki.fextralife.com/file/Elden-Ring/comet_azur_sorcery_elden_ring_wiki_guide_200px.png"
     
    ></ion-img>

    </ion-item>
    <ion-item>

      <ion-img
      src="https://eldenring.wiki.fextralife.com/file/Elden-Ring/terra_magicus_sorcery_elden_ring_wiki_guide_200px.png"
     
    ></ion-img>

      <ion-label>Terra Magica</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Rock Sling</ion-label>

      <ion-img
      src="https://eldenring.wiki.fextralife.com/file/Elden-Ring/rock_sling_sorcery-icon_elden_ring_wiki_guide_200px.png"
     
    ></ion-img>

    </ion-item>
    <ion-item>
      

      <ion-img
      src="https://eldenring.wiki.fextralife.com/file/Elden-Ring/golden_vow_incantation_elden_ring_wiki_guide_200px.png"
     
    ></ion-img>

    <ion-label>Golden Won</ion-label>

    </ion-item>
    <ion-item>
      
      <ion-label>Night Comet</ion-label>

      <ion-img
      src="https://eldenring.wiki.fextralife.com/file/Elden-Ring/night_comet_sorcery_elden_ring_wiki_guide_200px.png"
     
    ></ion-img>

    </ion-item>
  </ion-list>
 
</ion-content>
